---
layout: layouts/base.njk
title: Landscape
permalink: /landscape/
---

<div class="category-header">
  <h1>Landscape</h1>
  <p>Nature and environments</p>
</div>

<div class="gallery-grid">
  <a class="gallery-item" href="/images/landscape/01.jpg" data-lightbox>
    <img src="/images/landscape/01.jpg" alt="Landscape 1" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/landscape/02.jpg" data-lightbox>
    <img src="/images/landscape/02.jpg" alt="Landscape 2" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/landscape/03.jpg" data-lightbox>
    <img src="/images/landscape/03.jpg" alt="Landscape 3" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/landscape/04.jpg" data-lightbox>
    <img src="/images/landscape/04.jpg" alt="Landscape 4" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/landscape/05.jpg" data-lightbox>
    <img src="/images/landscape/05.jpg" alt="Landscape 5" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/landscape/06.jpg" data-lightbox>
    <img src="/images/landscape/06.jpg" alt="Landscape 6" loading="lazy">
  </a>
</div>

{% include "partials/lightbox.njk" %}
