---
layout: layouts/base.njk
title: Street
permalink: /street/
---

<div class="category-header">
  <h1>Street</h1>
  <p>Urban life and moments</p>
</div>

<div class="gallery-grid">
  <a class="gallery-item" href="/images/street/01.jpg" data-lightbox>
    <img src="/images/street/01.jpg" alt="Street 1" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/street/02.jpg" data-lightbox>
    <img src="/images/street/02.jpg" alt="Street 2" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/street/03.jpg" data-lightbox>
    <img src="/images/street/03.jpg" alt="Street 3" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/street/04.jpg" data-lightbox>
    <img src="/images/street/04.jpg" alt="Street 4" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/street/05.jpg" data-lightbox>
    <img src="/images/street/05.jpg" alt="Street 5" loading="lazy">
  </a>
  <a class="gallery-item" href="/images/street/06.jpg" data-lightbox>
    <img src="/images/street/06.jpg" alt="Street 6" loading="lazy">
  </a>
</div>

{% include "partials/lightbox.njk" %}
